*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild
.cxx
*.apk
!app/release/*.apk
app/release/*.json
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
keystore.properties
.kotlin/
