<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".NotitieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notitie">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Notitie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Compact overlay used because RemoteViews cannot host a reliable EditText. -->
        <activity
            android:name=".QuickAddActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/Theme.Notitie.QuickAdd"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".NotitieblokActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/notepad_widget_name"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/Theme.Notitie.Notepad"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <receiver
            android:name=".NotitieAppWidgetProvider"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="nl.mhaav.notitie.ACTION_ITEM_CLICK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notitie_widget_info" />
        </receiver>

        <receiver
            android:name=".NotitieblokAppWidgetProvider"
            android:exported="true"
            android:label="@string/notepad_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notitieblok_widget_info" />
        </receiver>

        <service
            android:name=".NotitieWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>
